
<div class="py-20 bg-[#dcd8cb] text-white px-4 w-screen overflow-hidden">
    <div class="flex flex-col lg:flex-row items-start gap-6 mb-6 lg:mb-0">
        <hr class="hidden lg:block w-[100px] h-[3px] bg-white border-0 mt-3">
        <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl lg:w-8/12 text-white font-playfair">Conscious.Mindful.Responsible.Even when no one is watching</h1>
    </div>
    <p class="text-gray-800 text-xl lg:w-8/12 lg:ml-[130px]">
        <strong>Beej</strong> is a metaphor for the origin of all creation. It symbolizes our respect towards every life form and works as a guiding principle of every business decision we make.
    </p>
    <div class="relative overflow-hidden mt-12 container mx-auto">
        <div class="slider-container overflow-hidden">
            <div class="slider flex-wrap flex transition-transform duration-500 ease-in-out">
                <div class=" w-full sm:w-1/2 lg:w-1/3 px-4 py-4">
                    <h2 class="text-2xl font-playfair mb-2 text-green-600">Show me some love</h2>
                    <p class="text-lg md:text-md text-gray-700 text-justify">
                        Our deep commitment to being mindful of the world we live in and its fast depleting resources reflects in every single material we work with. Every element of our product from the inner linings to the zippers and even the packaging is sustainable in some form making it at 100% sustainable supply-chain.
                    </p>
                    <div class="mt-6 relative inline-block">
                        <span class="relative z-10 text-stone-400 border-b border-stone-400">our planet +</span>
                        <img class="absolute left-0 top-2 w-12 h-auto transform -translate-y-1/2" src="../../assets/c1.png" alt="">
                    </div>
                </div>
                <div class=" w-full sm:w-1/2 lg:w-1/3 px-4 py-4">
                    <h2 class="text-2xl font-playfair mb-2 text-orange-700">The power of plenty</h2>
                    <p class="text-lg md:text-md text-gray-700 text-justify">
                        An empowered team with a common purpose fuels the passion we bring to our work. Our team of artisans has consciously made a shift to the world of sustainable fashion and take pride in the contributions they are making individually. We practice fair pay and demand the same of the partners we work with.
                    </p>
                    <div class="mt-6 relative inline-block">
                        <span class="relative z-10 text-stone-400 border-b border-stone-400">our planet +</span>
                        <img class="absolute left-0 top-2 w-12 h-auto transform -translate-y-1/2" src="../../assets/c2.png" alt="">
                    </div>
                </div>
                <div class=" w-full sm:w-1/2 lg:w-1/3 px-4 py-4">
                    <h2 class="text-2xl font-playfair mb-2 text-violet-800">Birds of a feather</h2>
                    <p class="text-lg md:text-md text-gray-700 text-justify">
                        Right from the onset, it was important for us to collaborate with brands and partners that share the same value system as ours. We only work with businesses that are conscious of their practices and committed to sustainability both environmentally and socially.
                    </p>
                    <div class="mt-6 relative inline-block">
                        <span class="relative z-10 text-stone-400 border-b border-stone-400">our planet +</span>
                        <img class="absolute left-0 top-2 w-12 h-auto transform -translate-y-1/2" src="../../assets/c3.png" alt="">
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flex justify-end py-20 px-4 lg:px-28">
            <button onclick="prevSlide()" class="mx-2 opacity-40 active:opacity-100 transform -translate-y-1/2 bg-white text-black p-2 rounded-full shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </button>
            <button onclick="nextSlide()" class="opacity-40 active:opacity-100 transform -translate-y-1/2 bg-white text-black p-2 rounded-full shadow-md">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </button>
        </div>
    </div>
<!-- after -->
     <div>
        <div class="flex flex-col lg:flex-row items-start gap-6 mb-10">
            <hr class="hidden lg:block w-[100px] h-[3px] bg-white border-0 mt-3">
            <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl lg:w-8/12 text-white font-playfair">Living up to earth-standard</h1>
        </div >
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-6 p-8 md:p-16 lg:p-24">
      
            <li class="relative group">
                <img class="w-full h-auto object-cover rounded-lg" src="../../assets/b1.jpeg" alt="Image 1">
                <div class="absolute inset-0 p-4  transform translate-y-4 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500">
                    <h1 class="text-black font-playfair text-3xl md:text-4xl">Custom craft</h1>
                    <p class="text-gray-800 mt-3 text-sm md:text-base w-8/12">Giving a sustainable form to your creative vision.</p>
                </div>
                <div class="text-[#dcd8cb] h-8 w-8 bg-white translate-x-1 translate-y-1 rounded-full absolute bottom-4 right-4 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </div>
            </li>
            <li class="relative group">
                <img class="w-full h-auto object-cover rounded-lg" src="../../assets/b2.jpeg" alt="Image 2">
                <div class="absolute inset-0 p-4  transform translate-y-4 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500">
                    <h1 class="text-black font-playfair text-3xl md:text-4xl">Atelier</h1>
                    <p class="text-gray-800 mt-3 text-sm md:text-base w-8/12">A sustainable production unit to craft your next eco-conscious collection</p>
                </div>
                <div class="text-[#dcd8cb] h-8 w-8 bg-white translate-x-1 translate-y-1 rounded-full absolute bottom-4 right-4 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </div>
            </li>
            <li class="relative group col-span-2">
                <img class="w-full h-auto object-cover rounded-lg" src="../../assets/b3.jpeg" alt="Image 3">
                <div class="absolute inset-0 p-4  transform translate-y-4 opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500">
                    <h1 class="text-black font-playfair text-3xl md:text-4xl">Corporate gifting</h1>
                    <p class="text-gray-800 mt-3 text-sm md:text-base w-8/12">When conscious working translates to conscious gifting.</p>
                </div>
                <div class="text-[#dcd8cb] h-8 w-8 bg-white translate-x-1 translate-y-1 rounded-full absolute bottom-4 right-4 flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </div>
            </li>
        </ul>
        
        
    </div>
</div> 

 
